---
permalink: /sitemap-pages.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">

  {% for page in collections.pages %}
  <url>
    <loc>https://www.creatoressentials.com{{ page.url }}</loc>
    <changefreq>{{ page.data.sitemap_changefreq or "monthly" }}</changefreq>
    <priority>{{ page.data.sitemap_priority or 0.7 }}</priority>
  </url>
  {% endfor %}

</urlset>
